<!DOCTYPE html>
<html>
    <head>
        <title>Success!</title>
        <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
    </head>
    <body>
        <p>Hello there <%=name%>!!!</p>
        <p>You logged in with username: <%=username%> and password: <%=password%></p>
        <% for( var i = 0; i < record.length; i++){ %>
            <p>Index: <%= i %> Name: <%= record[i].name %> Email: <%= record[i].email %> Username: <%= record[i].username %> Password: <%= record[i].password %> </p>
        <% }%>
    </body>
</html>