<!DOCTYPE html>
<html>
    <head>
        <title>Success!</title>
    </head>
    <body>
        Hello there <%=name%>! <br>
        You logged in with username: <%=username%> and password: <%=password%> <br>
        <% for( var i = 0; i < record.length; i++){ %>
            Index: <%= i %> Name: <%= record[i].name %> Username: <%= record[i].username %> Password: <%= record[i].password %> <br>
        <% }%>
    </body>
</html>